NODE_ENV=development
TZ=Asia/Ho_Chi_Minh
DEBUG_MODE=true
MIGRATION_MODE=false
PORT=8081
APP_TIME_OUT=30000
JWT_PRIVATE_KEY=parent_communication_system
JWT_EXPIRED_TIME=1d
EXPIRED_TIME_REMEMBER_LOGGED_IN=3d
TWM_POSTGRES_HOST=localhost
TWM_POSTGRES_PORT=5432
TWM_POSTGRES_USER=postgres
TWM_POSTGRES_PASSWORD=Maychila1
TWM_POSTGRES_DATABASE=chat_parent_teacher
TWM_POSTGRES_CERT_PATH=
TWM_REDIS_HOST=localhost
TWM_REDIS_PORT=6379
TWM_REDIS_PASSWORD=
TWM_REDIS_TTL=36000
UMENU_API_BASE_URL=http://localhost:8080
UMENU_API_ADMIN_USER=0397273869
UMENU_API_ADMIN_PASSWORD=123456
BASE_URL=http://localhost:8081
